* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0dad5;
}

h1 {
  background-color: #2a9d8f;
  color: white;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2.1rem;
}
#new {
  background-color: #2a9d8f;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
}
#new:hover {
  cursor: pointer;
  background-color: #000000;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: black;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.3rem;
  margin-top: 2.5rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 3rem;
}

.msg-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
}
#msg {
  background-color: #2a9d8f;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
